.img_box {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img_box h2 {
  margin-bottom: -60px;
}
