/* custom common css */
/* coler:#16213E */
/* common reuseable css stylesheet */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

:root {
  --main-color: #16213e;
  --secondary-color: #8dd8f8;
  --main-color-semi-transparent: rgba(24, 40, 70, 0.8);
}

.text-main {
  color: var(--main-color) !important;
  /* color: linear-gradient(20deg, #16213e, #352396) !important; */
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.active {
  font-weight: 600;
  /* background-color: transparent !important; */
  /* background: transparent !important; */
}

.btn.light {
  background-color: var(--main-color-semi-transparent);
}
.btn.light:hover {
  background-color: var(--main-color);
}

.nav-link,
.dropdown-item {
  position: relative;
}
.nav-link:hover::before,
.dropdown-item:hover:before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
}
.dropdown-item:focus {
  color: #ffffff !important;
  background-color: var(--main-color) !important;
}

.bg-main {
  background-color: var(--main-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-main-light {
  background-color: var(--main-color-semi-transparent) !important;
}
.bg-main-bordered {
  border: 1px solid transparent;
  background-color: var(--main-color) !important;
}
.bg-main-gradient {
  background: radial-gradient(
    circle,
    rgba(22, 33, 62, 1),
    rgba(17, 32, 75, 0.9),
    rgba(22, 33, 62, 1)
  ) !important;
}
.border-primary {
  border: 1px solid var(--main-color) !important;
}

.button-defult-hover {
  border: 1px solid transparent;
  background-color: var(--main-color);
  color: #ffffff;
  transition: 0.3s all ease-in;
}
.button-defult-hover:hover {
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: var(--main-color);
  transition: 0.3s all ease-in;
}
.button-defult-reverse-hover {
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: var(--main-color);
  transition: 0.3s all ease-in;
}

.button-defult-reverse-hover:focus {
  border: 1px solid transparent;
  background-color: var(--main-color) !important;
  color: #ffffff !important;
  transition: 0.3s all ease-in;
}
.button-defult-reverse-hover:hover {
  border: 1px solid transparent;
  background-color: var(--main-color);
  color: #ffffff;
  transition: 0.3s all ease-in;
}
.dropdown-item.active {
  background-color: #e9ecef;
}

.title-box h2 {
  font-size: 28px;
}

.title-box h2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  bottom: -15px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--main-color) !important;
  outline: unset !important;
  box-shadow: none !important;
}

.img-box {
  transform: scale(0.98);
}
.col:hover .img-box {
  transition: all 0.5s ease;
  overflow: hidden;
  transform: scale(0.95);
}
.img-box {
  padding: 0px 15px;
  width: 100%;
  height: 400px;
  border-radius: 20px !important;
}

.service-showcase .card {
  width: 90%;
  border-radius: 6px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(37, 37, 37, 0.1);
  background-color: #ffffff;
}

.service-showcase .card img {
  filter: brightness(70%);
  width: 100%;
  height: 250px !important;
}

.service-showcase .card::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: -5px;
  left: 0px;
  width: 100%;
  height: 8px;
  border-radius: 6px 6px 0 0;
}

.accordion-button:focus {
  box-shadow: 0 0 0 1px #eee;
}
.accordion-button:not(.collapsed) {
  color: var(--main-color);
  background-color: unset;
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}

@media only screen and (max-width: 767px) and (min-width: 200px) {
  .service-showcase .card {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(37, 37, 37, 0.1);
    background-color: #ffffff;
  }
}
