/* custom common css */
/* coler:#16213E */
/* font-family: "Oswald", sans-serif; */

/* @font-face {
  font-family: "Oswald", sans-serif;
  src: url("/public/Oswald-VariableFont_wght.ttf");
} */

:root {
  --main-color: #16213e;
  /* --main-color: #111f44; */
  --secondary-color: #13a89e;
  --main-color-semi-transparent: rgba(52, 68, 97, 0.8);
}

.text-main {
  color: var(--main-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.nav-link.active,
.dropdown-item.active {
  font-weight: 600;
}

.btn.light {
  background-color: var(--main-color-semi-transparent);
}
.btn.light:hover {
  background-color: var(--main-color);
}

.nav-link,
.dropdown-item {
  position: relative;
}
.nav-link:hover::before,
.dropdown-item:hover:before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
}
.nav-link.user::before {
  display: none !important;
}
.text-decoration-none {
  text-decoration: none;
}

.dropdown-item:focus {
  color: #ffffff !important;
  background-color: var(--main-color) !important;
}

.text-justifyed {
  text-align: justify !important;
}

.bg-main {
  background-color: var(--main-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.bg-main-light {
  background-color: var(--main-color-semi-transparent) !important;
}
.text-main-light {
  color: var(--main-color-semi-transparent) !important;
}
/* .bg-main-bordered {
  border: 1px solid transparent;
  background-color: var(--main-color) !important;
} */
.bg-main-gradient {
  background: radial-gradient(
    circle,
    rgba(22, 33, 62, 1),
    rgba(17, 32, 75, 0.9),
    rgba(22, 33, 62, 1)
  ) !important;
}
.bg-theme-gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(30, 39, 63, 0.94) 40%,
    rgba(10, 21, 54, 0.93) 100%
  );
}
.bg-main-linear-gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(78, 78, 78, 0.2) 10%,
    rgba(255, 255, 255, 1) 80%
  );
}
.border-primary {
  border: 1px solid var(--main-color) !important;
}

.btn-defult {
  border: 1px solid transparent !important;
  background-color: var(--main-color) !important;
  color: #ffffff !important;
  transition: 0.3s ease-in-out !important;
  transition-property: background-color, color, border !important;
}
.btn-defult:hover {
  border: 1px solid var(--main-color) !important;
  background-color: #fff !important;
  color: var(--main-color) !important;
}
.btn-defult-opposite {
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: var(--main-color);
  transition: 0.3s ease-in-out !important;
  transition-property: background-color, color, border !important;
}

.btn-defult-opposite:focus {
  border: 1px solid transparent;
  background-color: var(--main-color) !important;
  color: #ffffff !important;
}
.btn-defult-opposite:hover {
  border: 1px solid transparent;
  background-color: var(--main-color);
  color: #ffffff;
}
.dropdown-item.active {
  background-color: #e9ecef;
}

.title-box h2 {
  font-size: 28px;
  text-transform: capitalize;
}

.title-box h2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  bottom: -12px;
}

.form-control:focus,
.form-select:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--main-color) !important;
  outline: unset !important;
  box-shadow: none !important;
}
.form-select option:hover {
  background-color: var(--main-color) !important;
}
.accordion-button:focus {
  box-shadow: 0 0 0 1px #eee;
}
.accordion-button::after {
  background-image: url(../src/Images/accordionArrow.png) !important;
}
/* .accordion-button:not(.collapsed)::after {
  background-image: url();
} */
.accordion-button:not(.collapsed) {
  color: var(--main-color);
  background-color: unset;
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}
.alice-carousel__dots {
  margin: 10px 0px 3px !important;
}
.alice-carousel > div .alice-carousel__wrapper {
  padding: 10px 0px !important;
}
.alice-carousel__dots-item.__active {
  background-color: var(--main-color) !important;
}
.alice-carousel__dots-item {
  background-color: var(--secondary-color) !important;
}
.blog-showcase .card {
  box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.2);
}
.blog-showcase .blog_img {
  width: 100%;
  height: 308px;
  filter: brightness(85%);
}
.img_box {
  width: 50%;
  height: 230px;
  margin: 10px 0px !important;
  object-fit: contain;
  /* border-radius:30px; */
  filter: drop-shadow(20px 15px 10px rgba(0, 0, 0, 0.5));
}

.pet_care_service {
  filter: brightness(80%) !important;
}
/* @media only screen and (max-width: 767px) and (min-width: 200px) {
  .service-showcase .card {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(37, 37, 37, 0.1);
    background-color: #ffffff;
  }
} */

.cursor-pointer {
  cursor: pointer !important;
}

/* Style for the parent form with disabled-form class */
/* Prevent interaction with all child elements when disabled */
.disabled-form {
  pointer-events: none;
}

/* Apply styles to form fields when they are inside a disabled-form */
.disabled-form input,
.disabled-form button,
.disabled-form textarea,
.disabled-form select {
  background-color: #d3d3d3; /* Light gray to show disabled state */
  border-radius: 5px;
  position: relative; /* Required for positioning the ::after pseudo-element */
  overflow: hidden;
  cursor: not-allowed;
}

/* Shimmer effect using ::after */
.disabled-form input::after,
.disabled-form button::after,
.disabled-form textarea::after,
.disabled-form select::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 75%
  );
  animation: wave 1.5s infinite;
  z-index: 1; /* Ensure it is above the field background */
  border-radius: 5px;
}

@keyframes wave {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.hide-avobe-600px {
  display: none !important;
}

@media (max-width: 599px) {
  .hide-avobe-600px {
    display: block !important;
  }
}
