.NewsLatter {
  background: url(../../../Images/newslatter-bg.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 20%);
  background-size: initial;
}

@media only screen and (min-width: 200px) and (max-width: 916px) {
  .NewsLatter {
    background: unset;
  }
}
.userIcon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.review_card {
  position: relative;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.review_card .quate {
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
}
.service_card {
  width: 100%;
  background: linear-gradient(#ffffff 50%, var(--main-color) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 8px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.service_card h3 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 8px;
  letter-spacing: 1px;
}
.service_card p {
  color: #575a7b;
  font-size: 20px;
  letter-spacing: 0px;
}
.service_card img {
  margin: 0px;
  width: 70px;
  height: 70px;
}
.icon_wrapper {
  position: relative;
  height: 100px;
  width: 100px;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.4s;
  transition-delay: 0.1s;
}

.service_card:hover {
  background-position: 0 100%;
}
.service_card:hover .icon_wrapper {
  background-color: #ffffff !important;
}
.service_card:hover h3 {
  color: #ffffff !important;
}
.service_card:hover p {
  color: #f0f0f0;
}
/* .service_btn {
  background-color: #575a7b;
  color: #ffffff;
} */
.service_card:hover .service_btn {
  background-color: #575a7b !important;
  color: #ffffff !important;
}
