.NewsLatter {
  background: url(../../../Images/newslatter-bg.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 20%);
  background-size: initial;
}

@media only screen and (min-width: 200px) and (max-width: 916px) {
  .NewsLatter {
    background: unset;
  }
}

.userIcon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.review_card {
  position: relative;
  /* height: 160px !important; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.review_card .quate {
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
}

.services_card {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
}
.services_card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% + 2px);
  margin-left: -1px;
  height: 8px;
  z-index: -1;
  border-radius: 0px 0px 5px 5px;
  background-color: var(--main-color);
  transform: scale(1);
  transform-origin: bottom;
  transition: height 0.5s ease-in-out;
}
.services_card:hover::before,
.services_card:focus::before {
  height: 100%;
  border-radius: 5px;
}
.services_card h3 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 8px;
  letter-spacing: 1px;
  transition: color 0.4s ease-in-out;
}
.services_card p {
  color: #575a7b;
  font-size: 20px;
  letter-spacing: 0px;
  transition: color 0.5s ease-in-out;
}
.services_card img {
  margin: 0px;
  width: 70px;
  height: 70px;
}
.services_card .icon_wrapper {
  position: relative;
  height: 100px;
  width: 100px;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.4s ease-in-out;
  transition-delay: 0.1s;
}

.services_card:hover .icon_wrapper {
  background-color: #13a89e !important;
}

.services_card:hover h3 {
  color: #13a89e !important;
}
.services_card:hover p {
  color: #f0f0f0;
}

.services_card:hover .services_btn {
  background-color: #575a7b !important;
  color: #ffffff !important;
}

.services_card.even::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% + 2px);
  margin-left: -1px;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--main-color);
  transform: scale(1);
  transform-origin: top;
  transition: height 0.5s ease-in-out;
}
.services_card.even:hover::before,
.services_card.even:focus::before {
  background-color: var(--main-color);
  height: 8px;
  border-radius: 0px 0px 5px 5px;
}
.services_card.even p {
  transition: color 0.5s ease-in-out;
  color: #ffffff;
}
.services_card.even:hover .icon_wrapper {
  background-color: var(--main-color) !important;
}
.services_card.even:hover h3 {
  color: var(--main-color) !important;
}
.services_card.even:hover p {
  color: #575a7b !important;
}
.services_card.even .services_btn {
  background-color: #575a7b !important;
  color: #ffffff !important;
  transition: background-color 0.2s ease-in-out;
  transition-delay: 0.1s;
}
.services_card.even:hover .services_btn {
  background-color: #16213e !important;
}
.services_card.even:hover .services_btn:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #575a7b !important;
}
.popular_products {
  margin-left: 5px !important;
  margin-right: 5px !important;
  /* width: 240px; */
  height: 345px;
}
.popular_products > img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
.popular_products h5 {
  font-size: 20px !important;
  font-weight: 600;
}
.popular_products p {
  font-size: 18px !important;
}
.view_blog {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.view_blog:hover {
  background-color: var(--main-color) !important;
  color: var(--secondary-color) !important;
}
